# Environment variables - VERY IMPORTANT
.env
.env.local
.env.*.local
**/.env
contracts/.env
frontend/.env

# Dependencies
node_modules
**/node_modules

# Hardhat / contracts
cache
artifacts
typechain-types
coverage
coverage.json

# Build / dist
dist
build
.cache

# Vercel
.vercel
**/.vercel

# Logs & misc
*.log
.DS_Store 
